name: Build and push Ansible execution environment

on:
  push:
    branches:
      - master


concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}


permissions:
      contents: read
      packages: write
      id-token: write


env:
  REGISTRY: ghcr.io
  ORGANIZATION: jirifilip
  IMAGE_NAME: ${{ github.event.repository.name }}


jobs:
  build-and-push:
    name: Build and push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install uv project
        run: |
          uv sync

      - name: Build execution environment image
        run: >
          uv run
          ansible-builder build 
          --container-runtime=docker
          --tag ${{ env.REGISTRY }}/${{ env.ORGANIZATION }}/${{ env.IMAGE_NAME }}:latest

      - name: Log into registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push image
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.ORGANIZATION }}/${{ env.IMAGE_NAME }}:latest
